*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #e6e6e6;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
    position: relative;
    left: 500px;
    top: 8px;
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

a:hover{
    background: white;
    color: rgb(253, 217, 55);
}

#cabecalho{
    text-align: center;
    height: 110px;
    background-color: rgb(253, 217, 55);
    padding-top: 40px;
}

#conteudo{
    width: 900px;
    margin: 15px auto;
    
}

#conteudo-principal{
    width: 640px;
    border: 1px solid greenyellow;
    background-color: white;
    float: left;
    padding: 15px;
}

#conteudo-principal-direita{
    width: 190px;
    background-color: white;
    border: 1px solid red;
    float: right;
    padding: 5px;
}

.white{
    color: white;
}

.clear{
    margin: 10px;
}