*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: url(Imagens/fundo.png) repeat-x;
}

h3{
    color: white;
    background: rgb(48, 48, 107);
    padding: 5px;
    font-size: 1.1em;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

#container{
    width: 750px;
    margin: 0 auto;
}

/* CABEÇALHO */

#cabecalho{
    padding-top: 20px;
    height: 150px;
    background: url(Imagens/detalhe-topo.png) no-repeat right center;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(Imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

#cabecalho ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#cabecalho ul li{
    float: left;
}

#cabecalho ul a{
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.4em;
    color: white;
    line-height: 2.1em;
    background: url(Imagens/divisor.png) no-repeat left center;
}

#cabecalho ul a:hover{
    color: #69001d;
}

/* Deixar marcado a página */

body.home #navegacao a#home{
    color: white;
    background: #de003e;
    cursor: text;
}
