*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: url(Imagens/fundo.png) repeat-x;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

h2{
    font-size: 1.1em;
    background: #294c71;
    color: white;
    padding: 5px;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

#container{
    width: 750px;
    margin: 0 auto;
}

/* CABEÇALHO */

#cabecalho{
    padding-top: 20px;
    height: 150px;
    background: url(Imagens/detalhe-topo.png) no-repeat right center;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(Imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

#cabecalho ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#cabecalho ul li{
    float: left;
}

#cabecalho ul a{
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.4em;
    color: white;
    line-height: 2.1em;
    background: url(Imagens/divisor.png) no-repeat left center;
}

#cabecalho ul a:hover{
    color: #69001d;
}

/* Deixar marcado a página */

body.home #navegacao a#home,
body.brasil #navegacao a#brasil{
    color: white;
    background: #de003e;
    cursor: text;
}

/* Conteudo principal */

#conteudo{
    margin-top: 60px;
    background: white;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#principal{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#principal-inteiro{
    width: 540px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* Formatando caixas */
.caixa{
    margin: 10px 0;
    padding: 5px;
    background: white url(Imagens/fundo-caixa.png);
}

.caixa-conteudo{
    background: white;
    padding: 5px;
    margin-top: 5px;
}

.destaque h3{
    background: #b10333;
    color: white;
}

.entrevista h3{
    background: #de003e;
}

/* Formatar menu lateral */
#lateral ul a{
    font-size: 0.9em;
    color: black;
    padding: 3px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(Imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
}

label{
    display: block;
    cursor: pointer;
}

input{
    font-size: 0.9em;
    background-color: white;
    padding: 5px;
    width: 125px;
}

input.submit{
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* Formatando Imagens*/
img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* Formatando lista de notícias */
#lista-noticias li{
    padding: 2px;
    border: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.8em;
    color: black;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/* Rodape */
#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: white;
    text-align: center;
}





